<mat-card>
  <mat-card-header>
    <mat-card-title>Create a new deck!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="Deck name" [(ngModel)]="deckname" name="deckname" required>
              </label>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <label>
              <textarea matInput placeholder="Description" [(ngModel)]="deckdescription"
                        name="deckdescription"></textarea>
              </label>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="create(deckname,deckdescription)" color="primary">Create deck</button>
  </mat-card-actions>
</mat-card>
