<mat-card>
  <mat-card-header>
    <mat-card-title>Create a new deck!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="Deck name" [(ngModel)]="deckName" name="deckname" required>
              </label>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <label>
              <textarea matInput placeholder="Description" [(ngModel)]="deckDescription"
                        name="deckdescription"></textarea>
              </label>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Format</mat-label>
              <mat-select>
                <mat-option *ngFor="let format of formats" [value]="format" (onSelectionChange)="setFormat(format)">
                  {{format}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="create(deckName,deckDescription,selectedFormat)" color="primary">Create deck
    </button>
  </mat-card-actions>
</mat-card>
